@page
@model OilModel
@{
    ViewData["Title"] = "Oil field planner";
}

<div>
    <form method="get">
        <div class="mb-3">
            <label class="form-label" for="source">Oil field blueprint</label>
            <textarea rows="3" class="form-control" asp-for="Source" id="source" name="source"></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

    @if (!string.IsNullOrWhiteSpace(Model.Status))
    {
        <p>@Model.Status</p>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <pre>@Model.Error</pre>
    }
    @if (!string.IsNullOrWhiteSpace(Model.OutputBlueprint))
    {
        <code class="text-wrap">@Model.OutputBlueprint</code>
    }
</div>
